.banner-principal-decorativo
  &-2
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 8%
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 80%


@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal
  .container.tarjeta
    background-image: url("../assets/curso/portada/fondo-banner-principal.png")
    background-size: cover
    background-position: center
    @media (max-width: $bp-max-md)
      background-image: url("../assets/curso/portada/fondo-banner-principal-md.png")
    @media (max-width: $bp-max-xs)
      background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png")
.barra-avance__boton--regresar 
  span
    color: #000000 !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/imgbaner.png") !important
  
.txt--green
  color: #39A900 !important
